#container {
    display: flex;
    justify-content: space-evenly; /* Can be changed in the live sample */
  }
  
#container > img {
    width: 40px;
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
  }

  #container > img:hover {
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
  }
  #container > button {
    width: 100px;
    height: 40px;
}

.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    font-size: 0.65em;
    background-color: #e0dfde;
    border-style: solid;
    border-top: none;
    display: inline-block;
    top: 63px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
.sidebarItem{
    margin: 6%;
}
.sidebarItem> div{
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
}

.sidebarItem> div:hover{
    background-color: rgb(206, 206, 206);
}

.listings{
    display: flex;
  }

.image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}


#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: #e4e4e4;
  padding: 20px;
  border-radius: 10px;
}

.SearchDropdown{
  padding:10px;
}
.SearchDropdown>div{
  border-radius: 5px;
}
.SearchDropdown div:hover{
  background-color: rgb(206, 206, 206);
}